

.color{
    color: #018559;
    font-style: italic;
    text-decoration: underline 0.1em;
    text-underline-offset: 0.2em;
  }
  .colors{
    color: #936501;
    font-style: italic;
    text-decoration: underline 0.1em;
    text-underline-offset: 0.2em;
  }
  .colorss{
    color: #9b3a02;
    font-style: italic;
    text-decoration: underline 0.1em;
    text-underline-offset: 0.2em;
  }
  .ima {
    object-fit: contain;
    height: 10vh;
    overflow: hidden;
  }