
.aa {

    padding-right: 1em;
    text-decoration: none;
    color: rgb(184, 33, 33);

}

.span {

    font-weight: bold;
    font-size: 18px;
    border-radius: 1em;
    
    
}

.ico {

    color: #c48d4a;
    font-size: 2em;
    padding-right: 1em;
    

}

footer {

    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;

}
.tts{
    color: black;
    font-size: large;
}
a:hover{
    cursor: pointer;   
    text-decoration: underline;
    text-underline-offset: 0.3em;
    font-weight: bold;
    
}
.route p,.sun{
    background-color: #d893b6;
    border-radius: 1em;
    font-weight: bold;
    color: #151413;
}
