

.scroll {
    border: 2px solid black;
    padding: 1em;
    background-color: #90bbd6;
    overflow-y: scroll;
  
    
  }

  .stars{
    color: #d8c036;
    font-size: 1.7em;
  }
  textarea {
    resize: none;
  }
  .color {
    color: rgb(136, 118, 15);
  }