<div class="pad container">
  <h1 class="text-center display-5 fst-italic my-5">Womens Clothing</h1>
  <div *ngFor="let cat of cat">
    <h2 class="text-center display-5" *ngIf="cat.id==item[0].category_id">{{cat.type | titlecase}}</h2>
  </div>
  <nav class="navbar navbar-expand-lg mt-2 fs-5">
    <div class="container">
      <a class="navbar-brand" routerLink="/home"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedcontent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedcontent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 s">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/womens-clothes"
              routerLinkActive="active"
              >All</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              (click)="navSports()"
              routerLinkActive="active"
              >Sports</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              (click)="navShoes()"
              routerLinkActive="active"
              >Shoes</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              (click)="navShirts()"
              routerLinkActive="active"
              >Shirts</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              (click)="navSweaters()"
              routerLinkActive="active"
              >Sweater</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              (click)="navPants()"
              routerLinkActive="active"
              >Pants</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              (click)="navJackets()"
              routerLinkActive="active"
              >Jackets</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              (click)="navDance()"
              routerLinkActive="active"
              >Dance</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              (click)="navTennis()"
              routerLinkActive="active"
              >Tennis</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              (click)="navBasketball()"
              routerLinkActive="active"
              >Basketball</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              (click)="navRunning()"
              routerLinkActive="active"
              >Running</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              (click)="navTraining()"
              routerLinkActive="active"
              >Training</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              (click)="navFootball()"
              routerLinkActive="active"
              >Football</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              (click)="navYoga()"
              routerLinkActive="active"
              >Yoga</a
            >
          </li>
         
        </ul>

       
      </div>
    </div>
  </nav>

  <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4">
    <div class="col-12" *ngFor="let item of item">
      <div class="card">
        <img src="{{ item.picture }}" class="card-img-top" alt="..." />
        <div class="card-body bod">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.price | currency }}</p>
          <div class="ttt">
            <a
            class="btn btn-dark me-2"
            (click)="addToCart(item)"
            placement="top"
            ngbPopover="Thank you For shopping with us"
            popoverTitle="Added To Cart"
            >Add To Cart</a
          >
          <button [routerLink]="['/review/', item.id]" class="btn btn-dark">
            Reviews
          </button>
          </div>
          <div class="ddd">
          <a
            class="me-2"
            (click)="addToCart(item)"
            placement="top"
            ngbPopover="Thank you For shopping with us"
            popoverTitle="Added To Cart"
            >Add To Cart</a
          >
          <a [routerLink]="['/review/', item.id]" class="">Reviews</a>
        </div>
        </div>

        
      </div>
    </div>
  </div>
</div>
